# Cobrapy

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# why isn't jupyter automatically recognizing the activated environment?
import sys
sys.path.append("./venv/lib/python3.7/site-packages")

import cobra
import cobra.test
from cobra.test import create_test_model
from cobra.flux_analysis import flux_variability_analysis
from cobra.flux_analysis import (single_gene_deletion, 
                                 single_reaction_deletion, 
                                 double_gene_deletion,
                                 double_reaction_deletion)

import numpy as np
import pandas as pd
import os

/Users/don/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Running FBA - E.coli Example from Paper 1

In [2]:
# Load a built-in ecoli model
model = cobra.test.create_test_model("textbook")
print(len(model.reactions))
print(len(model.metabolites))

95
72

In [3]:
model.reactions.get_by_id("Biomass_Ecoli_core")

Growth of E. coli on glucose can be simulated under aerobic conditions. Set the maximum glucose *uptake* rate to 18.5 mmol gDW-1 hr-1 (millimoles per gram dry cell weight per hour), and allow unlimited oxygen *uptake* (by setting lower bound to -1000).

In [4]:
# Set params
model.reactions.get_by_id("EX_glc__D_e").bounds = (-18.5, 1)
model.reactions.get_by_id("EX_o2_e").bounds = (-1000, 1)

model.objective = "Biomass_Ecoli_core"
solution = model.optimize()

In [7]:
model.reactions.get_by_id("ACALD")

## Example 6 - Simulating Gene Knockouts

* Just as growth in different environments can be simulated with FBA, gene knockouts can also be simulated by changing reaction bounds. e.g. By setting both the upper and lower bounds of a reaction to 0 mmol gDW-1hr-1,a reaction is essentially knocked out, and is restricted from carrying flux.
* The *E coli core model* contains a list of gene-protein-reaction interactions **(GPRs)**: a list of Boolean rules that dictate which genes are connected with each reaction in the model. 
* Differentially expressed genes (between case and control) should have a similar behaviour to knocking out genes (hopefully).

In [8]:
# Gene eno (b2779) is involved in the reaction ENO
model.genes.get_by_id("b2779")

In [9]:
model.reactions.get_by_id("ENO")

In [10]:
model.reactions.get_by_id("ENO").bounds = (0, 0)
solution = model.optimize()
model.summary()

In [11]:
solution