In [1]:
import numpy as np
import pandas as pd

import requests
import json

In [ ]:
d0 = pd.read_csv("/Users/don/Documents/mlardelli/data/20191113_MLardelli_MNewman_Finalsamples_Q96vsWT_KimK_metaboanalyst_lessthan30pcCV_in.csv")
metabs_ls = list(d0.columns[2:])

In [ ]:
url = "http://api.xialab.ca/mapcompounds"
metab_str = ";".join(metabs_ls)
payload = '{\n\t\"queryList\": \"'+metab_str+';\",\n\t\"inputType\": \"name\"\n}'
headers = {
    'Content-Type': "application/json",
    'cache-control': "no-cache",
    }

response = requests.request("POST", url, data=payload, headers=headers)
response_dict = json.loads(response.text)

In [ ]:
contents = []
for r_dict in response_dict:
    hit = r_dict["hit"]
    kegg_id = r_dict["kegg_id"]
    hmdb_id = r_dict["hmdb_id"]
    if hit == "":
        hit = "undef"
    if kegg_id == "-":
        kegg_id = "undef"
    if hmdb_id == "-":
        hmdb_id = "undef"
        
    contents.append([r_dict["query"], hit, hmdb_id, kegg_id])

d1 = pd.DataFrame(data=contents, columns=['query', 'hit', "hmdb_id", 'kegg_id'])

In [ ]:
d1.to_csv("/Users/don/Documents/mlardelli/data/metab_ids.csv", index=False)

In [9]:
# mock up a dataframe
contents = np.arange(12).reshape(3, 4)
df = pd.DataFrame(data=contents, columns=["val"+str(i) for i in np.arange(4)])
df

   val0  val1  val2  val3
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11

In [10]:
df.apply(np.average, axis=0)

val0    4.0
val1    5.0
val2    6.0
val3    7.0
dtype: float64